
$living-coral: #FA7268;
$sulphur-spring: #D5D717;
$chive-blossom: #7D5D99;
$vivacious: #A32857;
$barrier-reef: #0084A1;
$deep-lake: #00656B;
$ibiza-blue: #007CB7;
$pink-lemonade: #EE6D8A;

$white: #fff;
